
body {
    background: linear-gradient(rgba(248,231,217), rgba(249,87,0));
    background-size: 100vw 100vh; /* set background size to 100% viewport width and 100% viewport height */
}

/* rest of the CSS */

  h1 {
    color: #F95700;
 }

#places {

    display: flex;
    justify-content: space-evenly;
    width: 100%;
    border: 1px solid black;

}

.CookieData {

    border: 1px solid black;
    

}

.Sales{

    display: flex;
    justify-content: space-evenly;
    

}


table{
    width: 1100px;
    height: 500px;
}


.CookieDataTime{

    border: 1px solid black;
    

}
td {
    border: 1px solid black;

}
  






/* Presenting Page */
p * {
   float: left;
}
.cookie-icon {
    position: relative;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: #F8E7D9;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .fish{
    position: absolute;
   

  }
  .salmon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 100px;
    width: 200px;
  }
 

  
  .cookie-icon {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    background-color: #f5deb3;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    float: left;
  }
  
  .cookie {
    position: relative;
    width: 250px;
    height: 250px;
    border-radius: 50%;
    background-color: #b36a2f;
  }
  
  .chocolate-chip {
    position: absolute;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #421b00;
  }
  
  .chocolate-chip:nth-child(1) {
    top: 20%;
    left: 20%;
  }
  
  .chocolate-chip:nth-child(2) {
    top: 35%;
    left: 60%;
  }
  
  .chocolate-chip:nth-child(3) {
    top: 50%;
    left: 30%;
  }
  
  .chocolate-chip:nth-child(4) {
    top: 70%;
    left: 80%;
  }
  
  .chocolate-chip:nth-child(5) {
    top: 80%;
    left: 20%;
  }
  
  .chocolate-chip:nth-child(6) {
    top: 20%;
    left: 70%;
  }
  
  .chocolate-chip:nth-child(7) {
    top: 60%;
    left: 40%;
  }
  
  .chocolate-chip:nth-child(8) {
    top: 40%;
    left: 20%;
  }
  
  .chocolate-chip:nth-child(9) {
    top: 30%;
    left: 50%;
  }
  
  .chocolate-chip:nth-child(10) {
    top: 80%;
    left: 60%;
  }
  